{% extends 'base.html' %}
{% block content %}

{{ company[1]["name"] }}

     <h2>{{ page_title }}</h2>
    <p>
        The formation of the group grew out of a meeting Gandalf had with Thorin in Bree which kindled Thorin's interest in
        recapturing his long lost family inheritance. (Thorin's grandfather had been the King under the Mountain when Smaug
        came and took it.) Remembering that he had once known an adventurous Hobbit on his travels in the Shire, Gandalf
        decided to add Bilbo to their company because he knew that stealth and cunning were preferable to force. Gandalf
        also believed that someone like Bilbo could keep the sometimes prideful and stubborn Dwarves from rash action. The
        superstitious Dwarves also considered thirteen to be an unlucky number, and as Gandalf had planned to leave on other
        business, welcomed a fourteenth to fill into their party.
    </p>

    <div class="row featurette">
        <div class="col-md-7">
            <h3>Thorin Oakenshield</h3>
            <p>
                Thorin Oakenshield was the son of Thráin II, grandson of Thrór and became the King of Durin's Folk during their
                exile from Erebor. Thorin played a key part in the quest for the Lonely Mountain, leading the Company of Dwarves,
                and Bilbo Baggins to reclaim the Lonely Mountain from the Dragon Smaug. He was the son of Thráin II, grandson of
                Thrór, and became King of Durin's Folk during their exile from Erebor. Thorin played a key part in the quest for
                the Lonely Mountain, leading the Company of Dwarves, and Bilbo Baggins to reclaim the Lonely Mountain from the
                Dragon Smaug.
            </p>
        </div>
        <div class="col-md-5">
            <img src="https://static.wikia.nocookie.net/lotr/images/5/5c/1374718_677522075594439_121362426_n.jpg" alt="">
        </div>
    </div>

    <div class="row featurette">
        <div class="col-md-5">
            <img src="https://static.wikia.nocookie.net/lotr/images/b/b4/The-Hobbit-Fili-and-Kili.jpg" alt="">
        </div>
        <div class="col-md-7">
            <h3>Fíli and Kíli</h3>
            <p>
                Fíli and Kíli were brothers, the youngest of the thirteen dwarves who set out on Thorin Oakenshield's quest along
                with Bilbo Baggins and Gandalf to reclaim the Lonely Mountain from the dragon Smaug. They were also nephews of
                Thorin, who was the elder brother of their mother Dís. Fíli and Kíli were brothers, the youngest of the thirteen
                dwarves who set out on Thorin Oakenshield's quest along with Bilbo Baggins and Gandalf to reclaim the Lonely
                Mountain from the dragon Smaug. They were also nephews of Thorin, who was the elder brother of their mother Dís.
            </p>
        </div>
    </div>

    <div class="row featurette">
        <div class="col-md-7">
            <h3>Oin</h3>
            <p>
                Oin was a Dwarf of Durin's Folk, who accompanied Thorin and Company on the Quest of Erebor. He was the brother of
                Gloin and a distant cousin of Thorin Oakenshield. Oin was a Dwarf of Durin's Folk, who accompanied Thorin and
                Company on the Quest of Erebor. He was the brother of Gloin and a distant cousin of Thorin Oakenshield. Oin was a
                Dwarf of Durin's Folk, who accompanied Thorin and Company on the Quest of Erebor. He was the brother of Gloin and
                a distant cousin of Thorin Oakenshield.
            </p>
        </div>
        <div class="col-md-5">
            <img src="https://static.wikia.nocookie.net/lotr/images/7/7d/Hobbit-poster-oin.jpg" alt="">
        </div>
    </div>

    <div class="row featurette">
        <div class="col-md-5">
            <img src="https://static.wikia.nocookie.net/lotr/images/f/fc/Gloin_2.jpg" alt="">
        </div>
        <div class="col-md-7">
            <h3>Gloin</h3>
            <p>
                Gloin was a dwarf of the House of Durin who was one of the twelve companions of Thorin and Bilbo on the quest to
                Erebor. Gloin was a dwarf of the House of Durin who was one of the twelve companions of Thorin and Bilbo on the
                quest to Erebor. Gloin was a dwarf of the House of Durin who was one of the twelve companions of Thorin and Bilbo
                on the quest to Erebor.
            </p>
        </div>
    </div>

    <div class="row featurette">
        <div class="col-md-7">
            <h3>Balin</h3>
            <p>
                Balin was a Dwarf leader, the son of Fundin, and elder brother of Dwalin. He was one of the twelve companions of
                Thorin and Bilbo on the quest to Erebor. Balin was a Dwarf leader, the son of Fundin, and elder brother of Dwalin.
                He was one of the twelve companions of Thorin and Bilbo on the quest to Erebor. Balin was a Dwarf leader, the son
                of Fundin, and elder brother of Dwalin. He was one of the twelve companions of Thorin and Bilbo on the quest to
                Erebor.
            </p>
        </div>
        <div class="col-md-5">
            <img src="https://static.wikia.nocookie.net/lotr/images/5/52/Balin.jpg" alt="">
        </div>
    </div>

    <div class="row featurette">
        <div class="col-md-5">
            <img src="https://static.wikia.nocookie.net/lotr/images/7/74/DwalinFoti.png" alt="">
        </div>
        <div class="col-md-7">
            <h3>Dwalin</h3>
            <p>
                Dwalin was a Dwarf warrior, the son of Fundin, elder brother of Balin, and possibly the most skilled fighter of
                all the companions of Bilbo Baggins. Dwalin was a Dwarf warrior, the son of Fundin, elder brother of Balin, and
                possibly the most skilled fighter of all the companions of Bilbo Baggins. Dwalin was a Dwarf warrior, the son of
                Fundin, elder brother of Balin, and possibly the most skilled fighter of all the companions of Bilbo Baggins.
            </p>
        </div>
    </div>

    <div class="row featurette">
        <div class="col-md-7">
            <h3>Ori</h3>
            <p>
                Ori was a Dwarf of Durin's Folk, who accompanied Thorin and Company on the Quest of Erebor. He was the brother of
                Nori and a distant cousin of Dori and Ori was a Dwarf of Durin's Folk, who accompanied Thorin and Company on the
                Quest of Erebor. He was the brother of Nori and a distant cousin of Dori and Ori was a Dwarf of Durin's Folk, who
                accompanied Thorin and Company on the Quest of Erebor. He was the brother of Nori and a distant cousin of Dori and
                Ori was a Dwarf of Durin's Folk, who accompanied Thorin and Company on the Quest of Erebor.
            </p>
        </div>
        <div class="col-md-5">
            <img src="https://static.wikia.nocookie.net/lotr/images/8/81/Ori.jpeg" alt="">
        </div>
    </div>

    <div class="row featurette">
        <div class="col-md-5">
            <img src="https://static.wikia.nocookie.net/lotr/images/2/27/Mark_Hadlow_as_Dori.jpg" alt="">
        </div>
        <div class="col-md-7">
            <h3>Dori</h3>
            <p>
                Dori was a Dwarf of Durin's Folk, the elder brother of Nori and Ori, and distant cousin of Thorin Oakenshield. He
                was one of the twelve companions of Thorin and Bilbo on the quest to Erebor. Dori was a Dwarf of Durin's Folk, the
                elder brother of Nori and Ori, and distant cousin of Thorin Oakenshield. He was one of the twelve companions of
                Thorin and Bilbo on the quest to Erebor. Dori was a Dwarf of Durin's Folk, the elder brother of Nori and Ori, and
                distant cousin of Thorin Oakenshield. He was one of the twelve companions of Thorin and Bilbo on the quest to
                Erebor. Dori was a Dwarf of Durin's Folk, the elder brother of Nori and Ori, and distant cousin of Thorin
                Oakenshield. 
            </p>
        </div>
    </div>

    <div class="row featurette">
        <div class="col-md-7">
            <h3>Nori</h3>
            <p>
                Nori was a Dwarf of Durin's Folk, son of Náin II, younger brother of Dori and Ori, and cousin of Thorin Oakenshield.
                He was one of the twelve companions of Thorin and Bilbo on the quest to Erebor. Nori was a Dwarf of Durin's Folk,
                son of Náin II, younger brother of Dori and Ori, and cousin of Thorin Oakenshield. He was one of the twelve
                companions of Thorin and Bilbo on the quest to Erebor. Nori was a Dwarf of Durin's Folk, son of Náin II, younger
                brother of Dori and Ori, and cousin of Thorin Oakenshield. He was one of the twelve companions of Thorin and Bilbo
                on the quest to Erebor. Nori was a Dwarf of Durin's Folk, son of Náin II, younger brother of Dori and Ori, and
                cousin of Thorin Oakenshield.
            </p>
        </div>
        <div class="col-md-5">
            <img src="https://static.wikia.nocookie.net/lotr/images/5/50/Untitled-31.png" alt="">
        </div>
    </div>

    <div class="row featurette">
        <div class="col-md-5">
            <img src="https://static.wikia.nocookie.net/lotr/images/b/b5/Bifur.jpg" alt="">
        </div>
        <div class="col-md-7">
            <h3>Bifur</h3>
            <p>
                Bifur was a Dwarf of Durin's Folk, who accompanied Thorin and Company on the Quest of Erebor. He was the brother of
                Bofur and Bombur, and a remote kinsman of Thorin Oakenshield. Bifur was a Dwarf of Durin's Folk, who accompanied
                Thorin and Company on the Quest of Erebor. He was the brother of Bofur and Bombur, and a remote kinsman of Thorin
                Oakenshield. Bifur was a Dwarf of Durin's Folk, who accompanied Thorin and Company on the Quest of Erebor. He was
                the brother of Bofur and Bombur, and a remote kinsman of Thorin Oakenshield. Bifur was a Dwarf of Durin's Folk,
                who accompanied Thorin and Company on the Quest of Erebor.
            </p>
        </div>
    </div>

    <div class="row featurette">
        <div class="col-md-7">
            <h3>Bofur</h3>
            <p>
                Bofur was a Dwarf of Durin's Folk, who accompanied Thorin and Company on the Quest of Erebor. He was the brother of
                Bombur and Bifur, and a remote kinsman of Thorin Oakenshield. Bofur was a Dwarf of Durin's Folk, who accompanied
                Thorin and Company on the Quest of Erebor. He was the brother of Bombur and Bifur, and a remote kinsman of Thorin
                Oakenshield. Bofur was a Dwarf of Durin's Folk, who accompanied Thorin and Company on the Quest of Erebor. He was
                the brother of Bombur and Bifur, and a remote kinsman of Thorin Oakenshield. Bofur was a Dwarf of Durin's Folk,
                who accompanied Thorin and Company on the Quest of Erebor. He was the brother of Bombur and Bifur, and a remote
                kinsman of Thorin Oakenshield.
            </p>
        </div>
        <div class="col-md-5">
            <img src="https://static.wikia.nocookie.net/lotr/images/5/56/Bofur_Nesbitt.jpg" alt="">
        </div>
    </div>

    <div class="row featurette">
        <div class="col-md-5">
            <img src="https://static.wikia.nocookie.net/lotr/images/e/ed/Bombur.jpg" alt="">
        </div>
        <div class="col-md-7">
            <h3>Bombur</h3>
            <p>
                Bombur was a Dwarf of Durin's Folk, who accompanied Thorin and Company on the Quest of Erebor. He was the brother of
                Bofur and Bifur, and a remote kinsman of Thorin Oakenshield. Bombur was a Dwarf of Durin's Folk, who accompanied
                Thorin and Company on the Quest of Erebor. He was the brother of Bofur and Bifur, and a remote kinsman of Thorin
                Oakenshield. Bombur was a Dwarf of Durin's Folk, who accompanied Thorin and Company on the Quest of Erebor. He was
                the brother of Bofur and Bifur, and a remote kinsman of Thorin Oakenshield. Bombur was a Dwarf of Durin's Folk,
                who accompanied Thorin and Company on the Quest of Erebor. He was the brother of Bofur and Bifur, and a remote
                kinsman of Thorin Oakenshield. 
            </p>
        </div>
    </div>

    <div class="row featurette">
        <div class="col-md-7">
            <h3>Gandalf</h3>
            <p>
                Gandalf was a Maia sent to Middle-earth in the Third Age to combat the threat of Sauron, as well as to rally the
                peoples of Middle-earth to contest Sauron's rule. Gandalf was a Maia sent to Middle-earth in the Third Age to
                combat the threat of Sauron, as well as to rally the peoples of Middle-earth to contest Sauron's rule. Gandalf
                was a Maia sent to Middle-earth in the Third Age to combat the threat of Sauron, as well as to rally the peoples
                of Middle-earth to contest Sauron's rule. Gandalf was a Maia sent to Middle-earth in the Third Age to combat the
                threat of Sauron, as well as to rally the peoples of Middle-earth to contest Sauron's rule. Gandalf was a Maia
                sent to Middle-earth in the Third Age to combat the threat of Sauron, as well as to rally the peoples of Middle-earth
                to contest Sauron's rule. 
                
            </p>
        </div>
        <div class="col-md-5">
            <img src="https://static.wikia.nocookie.net/lotr/images/8/8d/Gandalf-2.jpg" alt="">
        </div>
{% endblock %}